/* Declarando Cores ---------------------------------------- */
    :root {
    --primaria: #5E3527;
    --secundaria: #B39289;
    --terciaria: #A1786E;
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: 'Caligrafia';
    src: url('../assets/fonts/AlexBrush-Regular.ttf');
}

@font-face {
    font-family: 'Heart';
    src: url('../assets/fonts/Heart Bubble.otf')
}
/* ---------------------------------------- */
*{
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
    padding: 0px
}

body {
    background-color: white;
    }

    button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }

/* NAVBAR ---------------------------------------- */
header {
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        width: 100%;
        min-height: 80px;
        margin: 0px;
        gap: 20px;
        box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.175);
       
        .logo {
            display: flex;
            height: 50px;
            margin-left: 70px;
            margin-bottom: 10px;
        }

        .link {
            margin-left: 10px; 
            a {
                font-size: 18px;
                color:var(--primaria);
                text-decoration: none;
                text-align: end;  
                padding-right: 8px;
            }
        }

        .forms {
            margin-left: auto;
            margin-right: 60px;
        } 
           .acess {
            font-size: 15px;
            text-decoration: none;
            padding: 8px 20px;
            background-color: var(--primaria);
            color: white;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        
        }
        }
}
/* ---------------------------------------- */

/* Container-Marrom ---------------------------------------- */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
    .container-ilustracao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        height: 100%;
        background-color: var(--secundaria);
    }

    .container-ilustracao img {
        width: 100%;
        height: auto;
        margin-left: 10%;
    }

    .fraseEfeito {
        margin-left: 10%;
        margin-bottom: -30px;
        color: var(--primaria);
        font-size: 40px;
        font-family: 'Heart';
    }

    .container-forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
    }

    .tituloForms {
        font-size: 40px;
        font-weight: bold;
        
    }

    .subtitulo {
        color: gray;
        margin-bottom: 30px;
    }

    input {
        width: 40%;
        height: 3%;
        border: none;
        outline: none;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.562);
        border-radius: 5px;
        padding: 5px;
    }

    .container-forms button {
        width: 11%;
        height: 5%;
        border-radius: 10px;
        margin-bottom: 2%;
        background-color: var(--secundaria);
        color: white;
    }

    .container-forms a {
        color: var(--primaria);
    }

    .container-forms small {
        color: var(--primaria);
    }

    .voltar {
        color: white;
        margin-left: 6%;
        margin-bottom: 3%;
        width: 20%;
        height: auto;
    }

    .voltar a {
        text-decoration: none;
        color: inherit;
    }
