/* Declarando Cores ---------------------------------------- */
:root {
  --primaria: #5e3527;
  --secundaria: #b39289;
  --terciaria: #a1786e;
  --quaternaria: #dbc5bf;
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Caligrafia";
  src: url("../assets/fonts/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "Heart";
  src: url("../assets/fonts/Heart Bubble.otf");
}

/* ---------------------------------------- */
* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
}

body {
  background-color: white;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* NAVBAR ---------------------------------------- */
header {
  nav {
    position: fixed;
    z-index: 1000000;
    min-height: 9vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60vw;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.226);

    .container-logo-link {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: auto;
      width: 5.8vw;
    }

    .link {
      display: flex;
      margin-left: 1vw;
      gap: 10px;
    }

    .link a {
      font-size: 18px;
      padding-right: 8px;
      text-align: end;
      text-decoration: none;
      color: white;
    }

    .container-botoes {
      min-width: 10vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .acess {
      font-size: 15px;
      text-decoration: none;
      padding: 8px 20px;
      background-color: var(--primaria);
      color: white;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }

    .exit {
      width: 5vw;
      height: 3.8vh;
      font-size: 15px;
      text-decoration: none;
      border: 2px solid var(--terciaria);
      color: white;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
/* ---------------------------------------- */

.banner {
  background-color: var(--terciaria);
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cantando {
  width: 20vw;
  height: auto;
  margin-left: 20vw;
  margin-right: 5vw;
  margin-top: 5vh;
  box-shadow: -34px 28px 0px 8px var(--primaria);
}

.texto-banner {
  .frase {
    width: 50%;
    color: var(--primaria);
    font-family: "Heart";
    font-size: 4rem;
  }

  .descricao {
    font-size: 1.4rem;
    color: white;
    width: 70%;
    font-weight: bold;
  }
}

.fraseEfeito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;

  color: var(--primaria);
  font-size: 2.5rem;
  font-weight: bold;
}
.container-linhadavida {
  background-color: var(--quaternaria);
  height: 70vh;
  display: flex;
  align-items: center;
}

.imgCrianca {
  position: absolute;
  z-index: 0;
  width: 25vw;
  height: 55vh;
  margin-left: 20vw;
  margin-top: 5vh;
  transition: all 0.3s ease; 
}

.imgCrianca:hover {
  z-index: 0;
  transform: scale(1.1);
  width: 25vw;
  height: 55vh;
  margin-left: 20vw;
  margin-top: 5vh;
}

.imgAdulta {
  position: absolute;
  z-index: 100;
  width: 25vw;
  height: auto;
  margin-left: 10vw;
  margin-bottom: 2vh;
  transition: all 0.3s ease; 
}

.imgAdulta:hover {
  position: absolute;
  z-index: 100;
  transform: scale(1.1);
  width: 25vw;
  height: auto;
  margin-left: 10vw;
  margin-bottom: 2vh;
}

.container-linhadavida .descricao {
  width: 30vw;
  margin-left: 50vw;
  font-size: 2.2rem;
  color: var(--primaria);
  font-weight: bold;
}

.quebra-linha {
  display: flex;
  justify-content: center;
  color: var(--primaria);
  font-size: 2rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.container-valores {
  background-color: var(--quaternaria);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  height: 60vh;
}

.titulo-valores {
  color: #5e3527;
  position: absolute;
  left: 43%;
  font-size: 2rem;
  margin-top: 3vh;
  font-weight: bold;
  
}
.cards {
  background-color: white;
  width: 20%;
  height: 70%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 7vh;
  text-align: center; 
  transition: all 0.3s ease;
}

.cards:hover {
  background-color: white;
  text-align: center; 
  z-index: 0;
  width: 20%;
  height: 70%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 7vh;
  transform: scale(1.1);
}

.cards .titulo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--terciaria);
}

.cards .descricao {
  font-size: 1.2rem;
  margin-top: 1vh;
}

/* RODAPÉ ---------------------------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.103);
}

.copy {
    margin-top: 12px;
    color: var(--primaria);
}

/* ---------------------------------------- */