/* Declarando Cores ---------------------------------------- */
:root {
    --primaria: #5E3527;
    --secundaria: #B39289;
    --terciaria: #A1786E;
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Caligrafia';
    src: url('../assets/fonts/AlexBrush-Regular.ttf');
}

@font-face {
    font-family: 'Heart';
    src: url('../assets/fonts/Heart Bubble.otf')
}

/* ---------------------------------------- */
* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px
}

body {
    background-color: white;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

/* Container-Marrom ---------------------------------------- */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}

.container-ilustracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    min-height: 100%;
    background-color: var(--secundaria);
}

.ilustracao {
    width: 100%;
    margin-top: 5vh;
    margin-left: 4vw;
}

.fraseEfeito {
    margin-left: 70px;
    margin-bottom: -50px;
    color: var(--primaria);
    font-size: 2.8rem;
    font-family: "Heart";
}

.container-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.tituloForms {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1vh;
}

.subtitulo {
    color: gray;
    margin-bottom: 30px;
    font-size: 1rem;
}

input {
    width: 22vw;
    height: 3vh;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.763);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: 1rem;
}

.container-forms button {
    width: 5vw;
    height: 3.5vh;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--secundaria);
    color: white;
}

.container-forms a {
    color: var(--primaria);
}

.container-forms small {
    margin-top: 1.5vh;
    color: var(--primaria);
    font-size: 0.9rem;
}


.voltar {
    color: white;
    margin-left: 1.5vw;
    margin-bottom: 3%;
    width: 20%;
    height: auto;
    font-weight: bold;
}

.mensagem {
    color: var(--secundaria);
    font-size: 0.9rem;
    margin-top: 5vh;
    text-align: center;
}