/* Declarando Cores ---------------------------------------- */
:root {
    --primaria: #5E3527;
    --secundaria: #B39289;
    --terciaria: #A1786E;
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit;       /* Usa a cor do texto pai (preto, geralmente) */
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: 'Caligrafia';
    src: url('../assets/fonts/AlexBrush-Regular.ttf');
}

@font-face {
    font-family: 'Heart';
    src: url('../assets/fonts/Heart Bubble.otf')
}
/* ---------------------------------------- */
*{
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
    padding: 0px
}

body {
    background-color: white;
    }

    button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }
/* ------------------------------------------*/

/* NAVBAR ------------------------------------------*/
header {
    display: flex;
    nav {
       display: flex;
       flex-direction: row;
       align-items: center;
       position: absolute;
       width: 100%; 
       min-height: 10vh;
       border-bottom: 1px solid #5e352767;
       background-color: white;
    }

    .container-usuario {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-foto {
        margin-left: 8vw;
        border-radius: 20px;
        width: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-foto img {
        width: 70%;
        height: auto;
        padding: 10px;
        border-radius: 20px;
    }

    .mensagemNav {
        margin-left: 10px;
    }

    .titulo {
        margin-left: 25vw;
        font-size: 1.5rem;
        color: var(--primaria);
        font-weight: bold;
    }

    .logo {
            display: flex;
            height: 50px;
            margin-left: 30vw;
            margin-bottom: 10px;
        }

     nav-left {
        background-color: white;
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 5vw;
        height: 100vh;
        gap: 10px;
        border-right: 1px solid #5e352767;
    }

    .forms {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .forms img {
       width: 2vw;
    }
}
/* ------------------------------------------*/

/* KPIS ------------------------------------------*/
body {
    overflow-y: hidden;
}
main {
    margin-top: 90px;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* define a altura do elemento usando cálculo */
    /* 100vh = 100% da altura da tela */
    height: calc(100vh - 130px);

    overflow-y: auto; /* adiciona rolagem vertical apenas se necessário */
    padding: 20px;
}   

.container-conteudo {
    margin-top: -40vh;
    border-radius: 10px;
    padding: 15px;
    width: 70%;
    height: 40vh;
    padding-bottom: 10vh;
}

.cardPost {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
    padding: 20px;
    margin-top: 2vh;
}

.titulo {
    color: var(--primaria);
    margin-bottom: 1vh;
    font-size: 1.5rem;
    font-weight: bold;
}

.comentario {
    color: black;
    border: 1px solid var(--secundaria);
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    align-items: start;
    margin-top: 1vh;
}

.subtitulo {
    font-size: 1.1rem;
}

.mensagem {
    color: gray;
}

.dataPost {
    margin-left: 55vw;
    color: gray;
}

.alerta {
    position: fixed;
    top: 2vh;
    right: 2vw;
    width: 15vw;
    min-height: 4vh;
    background-color: #fff8f0;
    border-left: 7px solid #B39289;
    border-radius: 35px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5E3527;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    z-index: 10000;
    display: none;
}

.btnExcluir {
    background-color: rgb(239, 139, 139);
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1vh;
    transition: all 0.3s ease;
}

.btnExcluir:hover {
    background-color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1vh;
}