/* Declarando Cores ---------------------------------------- */
    :root {
    --primaria: #5E3527;
    --secundaria: #B39289;
    --terciaria: #A1786E;
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: 'Caligrafia';
    src: url('../assets/fonts/AlexBrush-Regular.ttf');
}
/* ---------------------------------------- */
*{
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
    padding: 0px
}

body {
    background-color: white;
    }

    button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        margin: 0;
    }

/* NAVBAR ---------------------------------------- */
header {
    nav {
        position: fixed;
        z-index: 10;
        min-height: 9vh;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 60vw;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.226);

        .container-logo-link {
            display: flex;
            align-items: center;
        }

        .logo img {
            height: auto;
            width: 5.8vw;
        }

        .link {
            display: flex;
            margin-left: 1vw;
            gap: 10px
        }

        .link a {
            font-size: 18px;
            padding-right: 8px;
            text-align: end;
            text-decoration: none;
            color: white;
        }

        .container-botoes {
            min-width: 10vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px
        }

        .acess {
            font-size: 15px;
            text-decoration: none;
            padding: 8px 20px;
            background-color: var(--primaria);
            color: white;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }

        .exit {
            width: 5vw;
            height: 3.8vh;
            font-size: 15px;
            text-decoration: none;
            border: 2px solid var(--terciaria);
            color: white;
            border-radius: 8px;
            cursor: pointer;
        }
    } 
}
/* ---------------------------------------- */

/* CONTAINER-CONTEUDO  ---------------------------------------- */
    .container-conteudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .container-header {
        display: flex;
        justify-content: center;
        margin-top: 15vh;
        width: 85%;
    }

    .container-header img {
        width: 20vw;
        height: auto;
    }
    
    .header {
        margin-top: 15vh;
        width: 70vw;
        height: 25vh;
        border-radius: 5px;
    }

    .titulo {
        margin-left: 3vw;
        font-size: 3rem;
        font-weight: bold;
        color: var(--primaria);
    }

    .texto {
        margin-top: 2vh;
        margin-left: 3vw;
        width: 90%;
        font-size: 1.5rem;
    }

    .horizontalA {
        background-color: var(--primaria);
        width: 90%;
        height: 0.5px;
        margin-top: 5vh;
    }

    .container-cards {
        width: 85%;
        height: 120vh;
        align-items: center;
        margin-top: 10vh;
    }

    .cards {
        width: 100%;
        height: auto;
    }

    .container-cards .titulo {
        font-size: 2rem;
        background-color: var(--secundaria);
        border-radius: 10px;
        padding: 1vw;
        width: 32vw;
        margin-left: 25vw;
        margin-bottom: 10vh;
    }

    .container-sites {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo-site {
        width: 90%;
        height: 25vh;
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        margin-bottom: 10vh;
    }
    .conteudo-site img {
        width: 6vw;
        border-radius: 50px;
    }

    .setinha {
        position: absolute;
        left: 8%;
        bottom: 2%;
        width: 3vw;
    }

    .subtitulo {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
        color: var(--primaria);
        font-weight: bolder;
        height: 5vh;
        width: 100%;
    }

    .descricao {
        width: 100%;
        height: 10vh;
        font-size: 1.3rem;
        margin-left: 15px;
    }

    .descricao small {
        color:var(--terciaria)
    }

        .verticalA {
        width: 2px;
        height: 15vh;
        background-color: #5E3527;
        border: none;
        margin-left: 7vw;
        margin-top: -13vh;
    }

    .verticalB {
        width: 4px;
        height: 15vh;
        background-color: #5E3527;
        border: none;
        margin-left: 1vw;
        margin-top: -1vh;
    }

    .horizontalB {
        background-color: var(--primaria);
        width: 90%;
        height: 0.5px;
        margin-top: -10vh;
    }

    .container-guias {
        width: 80%;
        height: 45vh;
        margin-top: 5vh;
        display: flex;
        gap: 5vw;
    }

    .container-guias button {
        width: 35vw;
        height: auto;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primaria);  
    }

    .container-guias img {
        width: 100%;
        height: auto;
    }


/* Botões de Conteúdo---------------------------------------- */
#conteudoViolao {
    width: 22vw;
    margin-right: 56vw;
    margin-top: 15vh;
    display: none;
    padding: 10px;
    background-color: var(--secundaria);
    border-radius: 20px;
    font-size: 1.1rem;
    text-align: center;
    color: white;
}

#conteudoAfinacao {
    width: 22vw;
    margin-top: 15vh;
    display: none;
    padding: 10px;
    background-color: var(--secundaria);
    border-radius: 20px;
    font-size: 1.1rem;
    text-align: center;
    color: white;
}

#conteudoVergonha {
    width: 22vw;
    margin-right: -10vw;
    margin-left: 47vw;
    margin-top: 15vh;
    display: none;
    padding: 10px;
    background-color: var(--secundaria);
    border-radius: 20px;
    font-size: 1.1rem;
    text-align: center;
    color: white;
}
/*---------------------------------------- */

    .container-desafio {
       background-color: var(--primaria);
       margin-top: 15vh;
       padding-bottom: 5vh;
       width: 100%;
       height: 45vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .container-desafio .titulo {
        width: 18%;
        color: white;
        margin-top: 5vh;
        margin-left: 3vw;
        font-size: 2rem;
    }

    .container-desafio .subtitulo {
        width: 65%;
        color: var(--secundaria);
        margin-left: 3vw;
        font-size: 1.3rem;
    }
    .sugestoes {
        width: 42%;
        font-size: 1.2rem;
        color: white;
        margin-top: 2vh;
    }

    .sugestoes a {
        color: var(--secundaria);
    }

/* RODAPÉ ---------------------------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.103);
  
}

.copy {
    margin-top: 12px;
    color: var(--primaria);
}

/* ---------------------------------------- */