/* Declarando Cores ---------------------------------------- */
:root {
    --primaria: #5e3527;
    --secundaria: #b39289;
    --terciaria: #a1786e;
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Caligrafia";
    src: url("../assets/fonts/AlexBrush-Regular.ttf");
}

@font-face {
    font-family: "Heart";
    src: url("../assets/fonts/Heart Bubble.otf");
}

/* ---------------------------------------- */
* {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
}

body {
    background-color: white;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* NAVBAR ---------------------------------------- */
header {
    nav {
        position: fixed;
        z-index: 10;
        min-height: 9vh;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 60vw;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.226);

        .container-logo-link {
            display: flex;
            align-items: center;
        }

        .logo img {
            height: auto;
            width: 5.8vw;
        }

        .link {
            display: flex;
            margin-left: 1vw;
            gap: 10px
        }

        .link a {
            font-size: 18px;
            padding-right: 8px;
            text-align: end;
            text-decoration: none;
            color: white;
        }

        .container-botoes {
            min-width: 10vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px
        }

        .acess {
            font-size: 15px;
            text-decoration: none;
            padding: 8px 20px;
            background-color: var(--primaria);
            color: white;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }

        .exit {
            width: 5vw;
            height: 3.8vh;
            font-size: 15px;
            text-decoration: none;
            border: 2px solid var(--terciaria);
            color: white;
            border-radius: 8px;
            cursor: pointer;
        }
    }

    /* ---------------------------------------- */

    /* banner  ---------------------------------------- */
    .container-banner {
        position: relative;
        width: 100%;
    }

    .container-banner img {
        width: 100%;
        height: 90vh;
    }

    .fraseEfeito {
        position: absolute;
        top: 50%;
        left: 5%;
        font-size: 1.7rem;
        color: white;
    }

    .start {
        width: 5vw;
        height: 3.5vh;
        font-size: 15px;
        text-decoration: none;
        background-color: var(--terciaria);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 5%;
    }

    .coment {
        width: 5vw;
        height: 3.5vh;
        font-size: 15px;
        text-decoration: none;
        border: 2px solid var(--terciaria);
        color: white;
        border-radius: 8px;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 11%;
    }
}

/* ---------------------------------------- */

/* MAIN ---------------------------------------- */

main {
    min-width: 100%;
    /* banner microfone ---------------------------------------- */

    /* frase de efeito do corpo do site ---------------------------------------- */
    .container-texto {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }

    .container-texto img {
        width: 10vh;
    }

    .estrela1 {
        margin-left: 80vh;
    }

    .estrela2 {
        margin-right: 100vh;
    }

    .fraseEfeitoMain {
        color: rgb(34, 25, 25);
        font-weight: bold;
        display: flex;
        align-items: center;
        font-family: "Montserrat";
        font-size: 2.4rem;
    }

    .fraseEfeitoColorida {
        color: var(--terciaria);
        font-weight: bold;
        font-family: "Caligrafia";
        font-size: 4rem;
    }

    /* ---------------------------------------- */

    /* CONTAINER SOBRE ---------------------------------------- */

    .container-sobre {
        margin-top: 10vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        min-width: 100%;
        min-height: 65vh;
        background-color: var(--secundaria);
    }

    .violao {
        max-width: 42vh;
        max-height: 41vh;
        margin-left: 12rem;
        box-shadow: -32px 35px 0px 8px var(--primaria);
    }

    .violao img {
        width: 100%;
        height: auto;
    }

    .tituloSobre {
        position: absolute;
        min-width: 30vw;
        min-height: 6vh;
        margin-left: 70vh;
        margin-bottom: 25vh;
        color: white;
        font-size: 2rem;
        font-weight: bolder;
        border-bottom: 2px solid white;
    }

    .sobre {
        position: relative;
        width: 64rem;
        height: 10vh;
        margin-left: 8vh;
        color: white;
        font-size: 1.4rem;
    }
}

/* ---------------------------------------- */

/* CONTAINER SERVIÇOS ---------------------------------------- */

.container-servicos {
    margin-top: 1vh;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 18vw;
    height: 36vh;
    margin-top: 40px;
    box-shadow: -34px 28px 0px 8px var(--primaria);
    justify-content: column;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.imgCard {
    width: 100%;
    height: auto;
}

.tituloServicos {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 55vh;
    color: var(--primaria);
    font-size: 30px;
    font-weight: bolder;
    height: 45px;
    width: 15%;
    border-bottom: 2px solid var(--secundaria);
}

.subtitulo {
    color: var(--primaria);
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 45px;
    margin-left: -40px;
}

.texto {
    width: 285px;
    margin-left: -40px;
    margin-top: 10px;
    font-size: 1.2rem;
}

/* ---------------------------------------- */

/* RODAPÉ ---------------------------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
    height: 10vh;
    width: 100%;
    box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.103);
}

.copy {
    margin-top: 12px;
    color: var(--primaria);
}

/* ---------------------------------------- */