/* Declarando Cores ---------------------------------------- */
:root {
    --primaria: #5E3527;
    --secundaria: #B39289;
    --terciaria: #A1786E;
}

/* Declarando Fontes Personalizadas ---------------------------------------- */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: 'Caligrafia';
    src: url('./assets/fonts/AlexBrush-Regular.ttf');
}
/* ---------------------------------------- */
*{
    margin: 0px; 
    font-family: 'Montserrat', sans-serif;
    padding: 0px
}

body {
    background-color: white;
    }

    button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }

/* NAVBAR ---------------------------------------- */
header {
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        width: 100%;
        min-height: 80px;
        margin: 0px;
        gap: 20px;
       
        .logo {
            display: flex;
            height: 50px;
            margin-left: 70px;
            margin-bottom: 10px;
        }

        .link {
            margin-left: 10px; 
            a {
                font-size: 18px;
                color:var(--primaria);
                text-decoration: none;
                text-align: end;  
                padding-right: 8px;
            }
        }

        .forms {
            margin-left: auto;
            margin-right: 60px;
        } 
           .acess {
            font-size: 15px;
            text-decoration: none;
            padding: 8px 20px;
            background-color: var(--primaria);
            color: white;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        
        }
        }
}
/* ---------------------------------------- */

/* MAIN ---------------------------------------- */

main {
    width: 100%;
/* banner microfone ---------------------------------------- */
    .container-banner {
        position: relative;
        width: 100%;
    }
        width: 100%;
        .container-banner img {
            display: flex;
            width: 100%;
            height: 68.11vh;   
        }
        .fraseEfeito {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);

            font-size: 1.7rem;
            color:white;
        }

/* frase de efeito do corpo do site ---------------------------------------- */
    .container-texto {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;
        
        
    }
        .fraseEfeitoMain {
            color: rgb(34, 25, 25);
            font-weight: bold;
            display: flex;
            align-items: center;
            font-family: 'Montserrat';
            font-size: 2.4rem;  
        }

        .fraseEfeitoColorida {
            color:var(--terciaria);
            font-weight: bold;
            font-family: 'Caligrafia';
            font-size: 4rem;
        }    
   
}
/* ---------------------------------------- */
    